/* .container {
  margin: 50% auto;
} */

.home-container {
  position: relative;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.home-img {
  order: 1;
}

.home-img img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.home-content {
  order: 1;
  width: 100%;

  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.home-logo {
  order: 3;
}

.home-name {
  order: 2;
}

.home-desc {
  order: 4;

  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
}

.desc-1 {
  order: 1;
  align-self: center;
}

.desc-2 {
  order: 2;
  align-self: center;
}

.desc-3 {
  order: 3;
  align-self: center;
}

.home-links {
  order: 6;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-links a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.social-links {
  order: 5;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.social-links a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.home-about-me {
  order: 1;
  margin-right: 10px;
}

.home-projects {
  order: 2;
  margin-right: 10px;
}

.home-resume {
  order: 3;
  margin-right: 10px;
}

.home-travel-log {
  order: 4;
}
